[project]
name = "linux-deployer"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.128.0",
    "fastmcp>=2.14.2",
    "uvicorn>=0.40.0",
]
