[Unit]
Description=Linux Application Deployer MCP Server

After=network.target nginx.service
Requires=nginx.service

[Service]
Restart=always
RestartSec=5
User=root
WorkingDirectory=/opt/mcp/linux-app-deployer
Environment=UV_CACHE_DIR=/opt/mcp/.uv-cache
ExecStart=uv run python /opt/mcp/linux-app-deployer/server.py
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target